/*--contact--*/
#contact
{
    margin-left:15%;
    margin-right: 5%;
    background: black;
    font-family: "Caviar-Dreams",verdana,sans serif;
    font-style: normal;
    font-weight: normal;
}
.contact {
  
}

.contact-left {
    text-align: right;
}

.contact-form {
    padding: 1em 0 0em;
}

.map iframe {
    width: 100%;
    min-height: 350px;
    border: none;
}

.contact-form h5 {
    font-size: 2em;
    color: #fff;
    text-transform: capitalize;
}

.contact-right p {
    font-size: 1em;
    color: #555;
    margin: 1em 0 3em;
    font-weight: 500;
}

.address.address-mdl {
    margin: 2em 0;
}

.address p {
    font-size: 1.1em;
    color: #000;
    margin-top: 1em;
    font-weight: 500;
}

.address p a {
    color: #000;
}

.address p a:hover {
    color: #79302a;
}

form.form_w3layouts {
    margin: 2em 0 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 45%;
    color: #fff;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 0.8em;
    border: solid 2px #fff;
    -webkit-appearance: none;
    display: block;

}

.contact-form label[type="text"],
.contact-form label[type="email"],
.contact-form label[type="message"], {
    background: none;
    font-size: 1em;
    margin-top:3em;
    margin-bottom: 2em;
 
}

.contact-form textarea {
    resize: none;
    width: 70%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 2px #fff;
    min-height: 12em;
    -webkit-appearance: none;
    float: none;
}

.contact-form input[type="submit"],
.contact-form input[type="reset"] {
    border: none;
    outline: none;
    color: #fff;
    padding: .8em 3em;
    font-size: 1em;
    margin: 1em 1em 0 0;
    -webkit-appearance: none;
    background: #272121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.contact-form input[type="submit"]:hover,
{
    background: #e01414;
    color: #fff;
    display: block;
    margin-top:2em; 
}


/*--//contact--*/
form label {
display: block;
font-weight: 400;
color: #363636;
margin: 0 0 1em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
-webkit-appearance: none;
border: 0;
background: #F4F4F4;
padding: 0.75em;
width: 100%;
-moz-transition: background-color .25s ease-in-out;
-webkit-transition: background-color .25s ease-in-out;
-ms-transition: background-color .25s ease-in-out;
transition: background-color .25s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
background: #F8F8F8;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
line-height: 1.35em;
}

form ::-webkit-input-placeholder {
color: #999;
}

form :-moz-placeholder {
color: #999;
}

form ::-moz-placeholder {
color: #999;
}

form :-ms-input-placeholder {
color: #999;
}