

/* Reset */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }

@font-face{
    font-family: 'Caviar-Dreams';
    src: url(fonts/Caviar-Dreams/CaviarDreams.ttf) format('truetype');
}

body {
 font-family: 'Roboto';
    }



/*--contact--*/
.contactform {
    background-image: url("images/footer_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

#contact {
    margin-left:15%;
    margin-right: 5%;
    font-family: "Caviar-Dreams",verdana,sans serif;
    font-style: normal;
    font-weight: normal;
}

.texte-contact {
    float: right;
    width: 45%;
    font-family: 'Roboto';
    color: #fff;
    margin: 1em 0 3em;
    font-weight: 300;
    text-align: left;
}

.informations-contact {
    float: left;
    width: 45%;
}
.clearfix {
    clear: both;
}

.contact-left {
    text-align: right;
}

.contact-form {
    padding: 1em 0 0em;
}

.map iframe {
    width: 100%;
    min-height: 350px;
    border: none;
}

.contact-form h5 {
    font-size: 4em;
    color: #fff;
    text-transform: capitalize;
}

.address.address-mdl {
    margin: 2em 0;
}

.address p {
    color: #fff;
    margin-top: 0.3em;
    font-weight: 300;
}

.address p a {
    color: #fff;
}

.address p a:hover {
    color: #fff;
}

form.form_w3layouts {
    margin: 2em 0 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 80%;
    color: #fff;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 0.8em;
    border: solid 2px #fff;
    -webkit-appearance: none;
    display: block;

}

.contact-form label {
    background: none;
    font-size: 1em;
    margin-top:1em;
    margin-bottom: 1em;
 
}

.contact-form textarea {
    resize: none;
    width: 70%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 2px #fff;
    min-height: 12em;
    -webkit-appearance: none;
    float: none;
}

.contact-form input[type="submit"]{
    border: none;
    outline: none;
    color: #fff;
    padding: .8em 3em;
    font-size: 1em;
    margin: 1em 1em 0 0;
    -webkit-appearance: none;
    background: #51a6db;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.contact-form input[type="submit"]:hover,
{
    background:#51a6db;
    color: #fff;
    display: block;
    margin-top:2em; 
}

form .submit:hover {

    background-color: white;
    cursor: pointer;
    color: rgb(75,202,255);
    }


/*--//contact--*/
form label {
display: block;
font-weight: 400;
color: #fff;
margin: 0 0 1em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
-webkit-appearance: none;
border: 0;
background: #fff;
padding: 0.75em;
width: 100%;
-moz-transition: background-color .25s ease-in-out;
-webkit-transition: background-color .25s ease-in-out;
-ms-transition: background-color .25s ease-in-out;
transition: background-color .25s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
background: #F8F8F8;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
line-height: 1.35em;
}

form ::-webkit-input-placeholder {
color: #fff;
}

form :-moz-placeholder {
color: #fff;
}

form ::-moz-placeholder {
color: #fff;
}

form :-ms-input-placeholder {
color: #fff;
}